<div class="jumbotron">
  <h1>Sight Words</h1>
  <p class="lead">
    An app for early readers! Help quiz a student, family member or friend with a set of customized printable flashcards.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/searchview">Start <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  
  <div class="col-xs-12">
    <h2>Search</h2>
    <p>
      Users can start by searching and selecting words for thier deck of sight-words printable quiz cards. 
    </p>
    <div class="row">
      <div class="col-xs-12 col-sm-6 center-block">
        <h3>Baic Search</h3>
        <p>Find and add words to your deck with our basic suggested words search. Use some key words/letters and we'll take care of the rest.</p>
      </div>
      <div class="col-xs-12 col-sm-6 center-block">
        <h3>Advanced Search</h3>
        <p>Use our advanced search for super customized sight-word card options. Search by topic, starting letter, word length, and more!</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <h2>Print</h2>
      <p>
        So you've found all of your sight words... now you're ready to print! Use your custom list of sightwords to make your printable sight words card deck! Just save, print, and you're ready to start quizing! 
      </p>
  </div>

  <div class="col-xs-12 col-md-6">
    <h2>Download</h2>
    <p>
      Want to do more with your projects? Download your docs so you can share, print again, or save the printing for later.   
    </p>
  </div>

  <small>
  <div class="col-xs-12">
    <h2>Coming Soon</h2>
    <div class="row">
      <div class="col-xs-10 col-sm-5 center-block">
        <h3>Quiz Game</h3>
          <p>Go paperless with our customizable in app video game. Keep an eye out for Sight-Words Quizables!</p>
      </div>
      <div class="col-xs-10 col-sm-7 center-block">
        <h3>Login with Sight-Words</h3>
          <p>Get ready for sight-words user accounts! Soon users can register and stay organized with in app project storage. Get social with sight-words and browse users pubic projects, and share your own work.</p>
      </div>
    </div>
  </div>
  </small>


</div>
