<div ng-app="sight-words" ng-controller="SearchviewCtrl" class="container">
  <div ng-init="s=''">
    
  <div id="listData">

    
    <div class="row project-controlls">
      <div class="col-xs-12">
        <h1><small class="text-muted">New Project:</small> {{displayText}}</h1>
        <hr>
      </div>
      <div class="col-sm-6">
        <p>
            Name: <input type="text" name="listName" id="list-name" ng-model="displayText"></input> 
            <button type="button" class="btn btn-primary" ng-click="saveList(displayText)">Save</button>
        </p>
      </div>
      <div class="col-sm-6">
        <a href="#/print" type="button" class="btn btn-primary">Preview</a>
        <a href="#/projects" type="button" class="btn btn-primary">View Project</a>
      </div>
    </div>
    <hr>

     <div id="selected-words" class="row">
      <div class="col-xs-12">
        <h2>Selected Words</h2>
        <ul class="selected-words-list list-inline">
          <li ng-repeat="word in selectedWords">
            <p>{{word}}</p>
            <p>
              <buttton class="btn btn-danger" type="button" class="btn btn-primary" ng-click="deselectWord(word)">
                    <span class="glyphicon glyphicon-remove"></span>
              </buttton>
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="row jumbotron">
      <div class="col-xs-12">
        <h1>Find Sight Words</h1>
        <p>
          <label for="s">Search:
            <input type="text" name="searchTerm" ng-model="searchTerm">
          </label>
          <button class="btn btn-lg btn-primary" ng-click="refreshsearch(searchTerm)">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </p>
      </div>
    </div>

  </div> 
   


    <div class="row results">
      <div class="col-xs-12">
        
        <ul class="result-word list-inline" ng-repeat="word in suggestedWords">
          <!-- word.word used to define search results array named "word" & object named "word" -->
          <div class="col-xs-6 col-md-4">
            <li class="bg-primary lead text-center" type="text" name="selectedWord">
              <p>{{word.word}}</p>
              <p>
                <!-- add ng-click="selectWord()" -->
                <a class="btn btn-success" type="button" class="btn btn-primary btn-lg" ng-click="selectWord(word.word)">
                  <span class="glyphicon glyphicon-ok"></span> 
                </a>
                <!-- add ng-hide -->
                <!-- <a class="btn btn-danger" type="button" class="btn btn-primary btn-lg" ng-click="deselectWord(word.word)">
                  <span class="glyphicon glyphicon-remove"></span>
                </a> -->
              </p>
            </li>
          </div>
        
        </ul>

      </div>
    </div>
  </div>
</div>